.catalog-top {

  &__runningText {
    padding-top: 2px;

    p {
      background: var(--black);
      font-weight: var(--fw-regular);
      font-size: var(--fs-primary);
      line-height: var(--lh-primary);
      letter-spacing: var(--ls-little);
      text-transform: uppercase;
      color: var(--white);
    }

    &_big {
      padding-top: 9px;
      padding-bottom: 9px;

      p {
        font-style: italic;
        font-weight: var(--fw-regular);
        font-size: var(--fs-sup-title);
        line-height: var(--lh-sup-title);
        text-transform: uppercase;
        color: var(--black);
      }
    }
  }
}

.catalog-menu {
  background: var(--black);
  padding-top: 67px;
  padding-bottom: 31px;
  @media (max-width: $md) {
padding:20px 0;
  }

  &__block {
    position: relative;
    display: flex;
    max-width: 940px;
    justify-content: space-between;

    h3 {
      font-weight: var(--fw-bold);
      font-size: var(--fs-title);
      line-height: var(--lh-title);
      text-transform: uppercase;
      color: var(--yellow);
      @media (max-width: $md) {
        font-size: var(--fs-sup-title);
        line-height: var(--lh-sup-title);
      }
    }
  }

  &__circle-text {
    position: absolute;
    left: -130px;
    bottom: -40px;
  }

  &__list {
    text-align: right;

    ul {

      li {
        margin-top: 2px;
        display: flex;
        align-items: center;
        justify-content: end;

        &:nth-of-type(1) {
          margin-top: 0;
        }

        a {
          font-weight: var(--fw-semibold);
          font-size: var(--fs-sup-title);
          line-height: var(--lh-sup-title);
          text-align: right;
          text-transform: uppercase;
          color: var(--white);
          display: flex;
          align-items: center;
@media (max-width: $md) {
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
}
          svg {
            margin-left: 16px;
            @media (max-width: $md) {
              margin-left: 10px;
            }
          }

          &:hover {
            color: var(--yellow);

            svg {
              path {
                fill: var(--yellow);
              }
            }
          }
        }
      }
    }
  }

}

.dekstop{
@media (max-width: $md) {
  display: none;
}
}

.mobile{
  display: none;
  @media (max-width: $md) {
    display: flex;
  }
}
.catalog-products {
  margin-top: 40px;

  &__text {
    display: flex;
    align-items: center;
    max-width: 940px;
    justify-content: space-between;

    h3 {
      font-weight: var(--fw-bold);
      font-size: var(--fs-sup-title);
      line-height: var(--lh-sup-title);
      text-transform: uppercase;
      color: var(--black);
    }

    span {
      font-weight: var(--fw-bold);
      font-size: var(--fs-sup-title);
      line-height: var(--lh-sup-title);
      text-align: right;
      text-transform: uppercase;
      color: var(--black);
      display: flex;
      align-items: center;

      svg {
        margin-left: 19px;
      }
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    gap: 90px;
    margin-top: 10px;
    @media (max-width: $md) {
      gap: 0;
      justify-content: space-between;
    }
  }

  &__group {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &_filter{
    display: flex;
    align-items: center;
    gap: 10px;
    label{
      font-weight: var(--fw-semibold);
      font-size: var(--fs-normal);
      line-height: var(--lh-normal);
      text-transform: uppercase;
      color: var(--black);
    }
  }
}

.catalog-filter-list{
  border-top:1px solid var(--black);
  border-bottom:1px solid var(--black);
  padding: 40px 0;
  margin-top: 42px;
  @media (max-width:$md ) {
    padding: 20px 0;
  }

  &__inner{
    display: flex;
  justify-content: space-between;
    @media (max-width:$md ) {
     display: block;
    }
  }
  &__name{
    max-width: 175px;
    width: 100%;
ul{
  list-style: none;
  width: 100%;
  li{
margin-top: 5px;
&:nth-of-type(1){
  margin-top: 0;
}
    a{
      font-weight: var(--fw-semibold);
      font-size: var(--fs-normal);
      line-height: var(--lh-normal);
      text-transform: uppercase;
      color: var(--grey);
      display: flex;
      align-items: center;
      max-width: 175px;
      width: 100%;
      justify-content: space-between;
      &:active, &_active{
        color: var(--black);
      }
    }
  }
}
  }

}

.catalog-card{
  margin-top: 40px;
  margin-bottom: 100px;
  @media (max-width: $md) {
    margin-top: 20px;
  }
  &__list{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    @media (max-width: $md) {
      gap: 40px;
      margin-top: 20px;
    }
    @media (max-width: $sm) {
      justify-content: center;
    }
  }
}
.catalog-card-small{
  margin-top: 40px;
  margin-bottom: 100px;

  &__list{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 20px;
    @media (max-width: $md) {
      justify-content: space-between;
      gap: 20px 10px;
    }
    @media (max-width: $sm) {
      justify-content: space-between;
      gap: 20px 0;
    }
  }
}
