.delivery{
  margin-top: 20px;
  padding-bottom: var(--margin-regular);
  h3{
    font-weight: var(--fw-bold);
    font-size: var(--fs-title);
    line-height: var(--lh-title);
    text-transform: uppercase;
    color: var(--black);
max-width: 1130px;
    width: 100%;
    margin: 0 auto;
  }
  .bg-yellow:first-of-type{
    margin-top: 40px;
  }
}
.run-text-line{
  padding: 2px 0 1px 0;
  background: var(--black);
  width: 100%;
 p{
    font-weight: var(--fw-regular);
    font-size: var(--fs-primary);
    line-height: var(--lh-checkbox);
    letter-spacing:var(--ls-little);
    text-transform: uppercase;
    color: var(--white);
  }
}
.delivery-information{
  margin-top: 41px;
  padding-bottom: var(--margin-regular);

  &__text{
    margin-top: 20px;
    h3{
      font-weight: var(--fw-bold);
      font-size: var(--fs-normal);
      line-height:var(--lh-normal);
      letter-spacing: var(--ls-secondary);
      color: var(--black);
    }
    p{
      max-width: 920px;
      width: 100%;
      font-weight: var(--fw-regular);
      font-size: var(--fs-normal);
      line-height:var(--lh-normal);
      letter-spacing: var(--ls-secondary);
      color: var(--black);
    }

  }
}
.delivery-refund{
  padding-bottom: var(--margin-regular);
}
.bg-yellow{
  margin-top: 60px;
  max-width: 332px;
  width: 100%;
  background: var(--yellow);
  padding: 6px 72px 6px 165px;
  h3{
    font-weight: var(--fw-bold);
    font-size: var(--fs-sup-title);
    line-height: var(--lh-sup-title);
    text-transform: uppercase;
    color: var(--black);

  }
}
.questions-faq{
  width: 100%;
margin-top: 10px;
  &__item{
    background: var(--yellow);
    width: 100%;
    padding:24px 40px 24px 42px;
    border-bottom: 1px solid var(--black);
    h3{
      font-weight: var(--fw-bold);
      font-size: var(--fs-normal);
      line-height: var(--lh-normal);
      color: var(--black);
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:after{
        content: '';
        background-image: url("../icons/questions-faq_arrow.svg");
        width: 15px;
        height: 21px;
        display: block;
      }
  }
  }

}
