.payment-error{
  margin-top: 227px;
  text-align: center;
  padding-bottom: 44px;
  h3{
    font-weight: var(--fw-bold);
    font-size: var(--fs-sup-title);
    line-height: var(--lh-sup-title);
    letter-spacing: var(--ls-regular);
    text-transform: uppercase;
    color: var(--black);
  }

  .btn_all{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button{
      padding: 16px 44px;
      h3{
        font-style: normal;
      }
    }
  }
}