.product-card {
  display: flex;
  margin-top: 60px;
  @media (max-width: $xl) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: $md) {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }

  &__gallery {
    max-width: 160px;
    width: 100%;
    @media (max-width: $md) {
      display: none;
    }

    picture {
      img {
        max-width: 160px;
        width: 100%;
        display: block;
        margin-top: 20px;
      }
    }

  }

  &__img {
    margin-left: 30px;
    max-width: 445px;
    width: 100%;
    @media (max-width: $md) {
      margin-left: 0;
    }

    picture {
      max-width: 445px;
      width: 100%;

      img {
        max-width: 445px;
        width: 100%;
      }
    }
  }

  &__name {
    width: 100%;
    margin-left: 30px;
    @media (max-width: $xl) {
      max-width: 637px;
      margin-left: 0;
    }
  }

  &__back {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $md) {
      display: none;
    }

    a {
      font-weight: var(--fw-semibold);
      font-size: var(--fs--btn);
      line-height: var(--lh-14);
      text-transform: uppercase;
      color: var(--black);
      display: flex;
      align-items: center;

      &:before {
        content: '';
        display: block;
        background-image: url("../icons/arrow_small.svg");
        width: 14px;
        height: 8px;
        margin-right: 10px;
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    margin-top: 20px;
    @media (max-width: $md) {
      display: none;
    }

    p:nth-of-type(1) {
      font-weight: var(--fw-regular);
      font-size: var(--fs-sup-title);
      line-height: var(--lh-sup-title);
      text-transform: uppercase;
      color: var(--black);
      margin-left: 0;
    }

    p {
      font-weight: var(--fw-bold);
      font-size: var(--fs-sup-title);
      line-height: var(--lh-sup-title);
      text-transform: uppercase;
      color: var(--black);
      margin-left: 31px;
      @media (max-width: $md) {
        margin-left: 143px;
      }
    }

    span {
      font-weight: var(--fw-regular);
      font-size: var(--fs-sup-title);
      line-height: var(--lh-sup-title);
      text-decoration-line: line-through;
      text-transform: uppercase;
      color: var(--grey);
      margin-left: 20px;
      @media (max-width: $md) {
        font-size: var(--fs-normal);
        line-height: var(--lh-normal);
        text-decoration-line: line-through;
        text-transform: uppercase;
        color: var(--grey);
      }
    }

    &_mobile {
      display: none;
      @media (max-width: $md) {
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
      }
    }
  }

  &__color {
    display: flex;
    align-items: center;
    gap: 10px
  ;
    margin-top: 40px;
    @media (max-width: $md) {
      margin-top: 20px;
    }

    p {
      font-weight: var(--fw-semibold);
      font-size: var(--fs-normal);
      line-height: var(--lh-normal);
      text-transform: uppercase;
      color: var(--black);
      margin-right: 56px;
    }

    &-item {

      input {
        position: absolute;
        opacity: 0;
        z-index: -1;

        & + label {
          position: relative;
          width: 20px;
          height: 20px;
          display: inline-flex;
          margin-left: 10px;
        }

        &:checked {
          & + label {
            &:before {
              content: '';
              position: absolute;
              left: -3px;
              top: -3px;
              width: 26px;
              height: 26px;
              border: 1px solid black;
            }
          }
        }
      }
    }
  }

  &__basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
    @media (max-width: $xl) {
      margin-top: 30px;
    }
    @media (max-width: $md) {
      gap: 6px;
      margin-top: 20px;
    }
  }

  &__add {
    border: 0.5px solid #000000;
    max-width: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: $md) {
      max-width: 96px;

    }

    input {
      max-width: 53px;
      width: 100%;
      display: flex;
      text-align: center;
      padding: 14px 0;
      border: none;
      font-weight: var(--fw-bold);
      font-size: var(--fs-normal);
      line-height: var(--lh-normal);
      letter-spacing: var(--ls-little);
      text-transform: uppercase;
      color: var(--black);

      &:focus-visible {
        outline: none;
      }
    }

    button {
      max-width: 53px;
      background: transparent;
      border: none;
      padding-left: 20px;
      width: 100%;
      font-weight: var(--fw-bold);
      font-size: var(--fs-sup-title);
      line-height: var(--lh-normal);
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: var(--ls-little);
      text-transform: uppercase;
      color: var(--black);
      @media (max-width: $md) {
        font-size: var(--fs-normal);
        padding-left: 13px;
      }
    }
  }
}

.product-card-description {
  margin-top: 80px;
  padding-left: 190px;
  @media (max-width: $lg) {
    padding-left: 80px;
    margin-top: 40px;
  }
  @media (max-width: $md) {
    text-align: center;
    padding-left: 0;
  }

  h3 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-sup-title);
    line-height: var(--lh-sup-title);
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 20px;
    @media (max-width: $md) {
      font-size: var(--fs-normal);
      line-height: var(--lh-normal);
    }

  }

  p {
    max-width: 730px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: var(--fw-semibold);
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    letter-spacing: var(--ls-little);
    color: var(--black);
  }
}

.product-card__popular {
  margin-bottom: 100px;
  @media (max-width: $md) {

  }
}

.card-title {
  margin-top: 20px;

  h3 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-sup-title);
    line-height: var(--lh-sup-title);
    text-transform: uppercase;
    color: var(--black);
    @media (max-width: $md) {
      display: none;
    }
  }

  p {
    font-style: italic;
    font-weight: var(--fw-semibold);
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    text-transform: uppercase;
    color: var(--black);

    span {
      font-size: var(--fs-primary);
      @media (max-width: $sm) {
        display: flex;
      }
    }
  }

  &_basket {
    margin-top: 0;
@media (max-width: $md) {
h3{
display: block;
}
}
    h3 {
      font-weight: var(--fw-semibold);
      font-size: var(--fs-normal);
      line-height: var(--fs-sup-secondary);
      text-transform: uppercase;
      color: var(--black);


    }

    p {
      font-weight: var(--fw-semibold);
      font-size: var(--fs-primary);
      line-height: var(--lh-primary);
      text-transform: uppercase;
      color: var(--darkgrey);
      display: flex;
      align-items: center;
     span{
       margin-left: 3px;
       @media (max-width: $md) {
         display: block;
       }
     }
    }
  }

  &__favorite {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .favorite {
      display: none;
      @media (max-width: $md) {
        display: flex;
      }
    }
  }
}

.title-card-mobile {
  display: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-sup-title);
  line-height: var(--lh-sup-title);
  text-transform: uppercase;
  color: var(--black);
  @media (max-width: $md) {
    display: block;
    margin-bottom: 20px;
    margin-top: 40px;
  }
}