@charset "UTF-8";
/** Шрифты **/
@import "../fonts/animalsans/stylesheet.css";
/** setting **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*:after:before {
  box-sizing: border-box;
}

body, button {
  font-family: var(--font-family);
}

a, button {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/** components **/
/** Input **/
.input {
  margin-top: 20px;
}
.input label {
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  text-transform: uppercase;
  color: var(--black);
  font-weight: var(--fw-semibold);
}
.input__item {
  position: relative;
  max-width: 730px;
  width: 100%;
}
.input__item input {
  border: 1px dashed #B8B6B6;
  width: 100%;
  padding: 22px 20px 21px 20px;
}
.input__item input::placeholder {
  font-weight: var(--fw-regular);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  letter-spacing: var(--ls-regular);
  color: var(--black);
}
.input__item input:focus-visible {
  outline: none;
}
.input__item input:focus {
  border: 1px dashed var(--black);
}
.input_small {
  max-width: 106px;
  width: 100%;
}

/** Input-soc **/
.soc-input {
  position: relative;
  max-width: 538px;
  width: 100%;
}
.soc-input:active svg path {
  fill: black;
}
.soc-input:active svg rect {
  stroke: black;
}
.soc-input:focus svg path {
  fill: black;
}
.soc-input input {
  border: 1px dashed var(--grey);
  width: 100%;
  padding: 22px 20px 21px 72px;
}
.soc-input input::placeholder {
  font-family: var(--font-family);
  font-weight: var(--fw-medium);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  display: flex;
  align-items: center;
  letter-spacing: var(--ls-regular);
  font-feature-settings: "liga" off;
  color: var(--grey);
}
.soc-input input:focus-visible {
  outline: none;
}
.soc-input input:active {
  border: 1px dashed var(--black);
}
.soc-input input:focus {
  border: 1px dashed var(--black);
}
.soc-input a {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  display: flex;
  align-items: center;
  letter-spacing: var(--ls-regular);
  text-decoration-line: underline;
  font-feature-settings: "liga" off;
  color: var(--grey);
  position: absolute;
  right: 20px;
  top: 22px;
}

/** promocod **/
.promocod {
  display: flex;
  align-items: center;
}
.promocod input {
  border: 1px solid var(--black);
  padding: 15px 0 15px 10px;
  height: 50px;
  max-width: 255px;
  width: 100%;
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
}
.promocod input:focus-visible {
  outline: none;
}
.promocod input::placeholder {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  color: var(--black);
  text-transform: uppercase;
  font-family: var(--font-family);
}
.promocod_item {
  position: relative;
}
.promocod_warning {
  border: 1px solid var(--red);
}
.promocod_small input {
  background: var(--lightblack);
  border: 1px solid var(--lightgrey);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-family: var(--font-family);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  align-items: center;
  letter-spacing: var(--ls-regular);
  color: var(--white);
  padding: 16px 102px 17px 20px;
}

/** icon **/
.allicons {
  display: flex;
  align-items: center;
}

.search {
  cursor: pointer;
}
.search:hover svg path {
  stroke: black;
  stroke-width: 0.2px;
  border: 0.2px solid var(--black);
  fill: var(--yellow);
}
.search:active svg path, .search_active svg path {
  stroke: black;
  stroke-width: 1.3px;
}
@media (max-width: 960px) {
  .search__white svg path {
    fill: var(--white);
  }
}

.favorite {
  cursor: pointer;
}
.favorite:hover svg path:nth-of-type(1) {
  fill: var(--yellow);
  stroke: black;
  stroke-width: 0.2px;
}
.favorite:active svg path:nth-of-type(1), .favorite_active svg path:nth-of-type(1) {
  fill: var(--black);
}
.favorite:active svg path:nth-of-type(2), .favorite_active svg path:nth-of-type(2) {
  fill: var(--yellow);
}
@media (max-width: 960px) {
  .favorite__white svg path {
    fill: var(--white);
  }
}

.user {
  cursor: pointer;
}
.user:hover svg path:nth-of-type(1) {
  fill: var(--yellow);
  stroke: black;
  stroke-width: 0.2px;
}
.user:active svg path:nth-of-type(1), .user_active svg path:nth-of-type(1) {
  fill: var(--black);
}
.user:active svg path:nth-of-type(2), .user_active svg path:nth-of-type(2) {
  fill: var(--yellow);
}
.user:active svg path:nth-of-type(3), .user_active svg path:nth-of-type(3) {
  fill: var(--yellow);
}
@media (max-width: 960px) {
  .user__white svg path {
    fill: var(--white);
  }
}

.cart {
  cursor: pointer;
  position: relative;
}
.cart:hover svg path:nth-of-type(1) {
  fill: var(--yellow);
  stroke: black;
  stroke-width: 0.2px;
}
.cart:active svg path:nth-of-type(1), .cart_active svg path:nth-of-type(1) {
  fill: var(--black);
}
.cart:active svg path:nth-of-type(2), .cart_active svg path:nth-of-type(2) {
  fill: var(--yellow);
}
.cart__quantity {
  position: absolute;
  background: var(--yellow);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  top: -7px;
  right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__quantity span {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-little);
  line-height: var(--lh-little);
  color: var(--black);
}

.filter {
  cursor: pointer;
}
.filter:hover svg path {
  fill: var(--yellow);
  stroke: black;
  stroke-width: 0.2px;
}
.filter:active svg path, .filter_active svg path {
  fill: var(--black);
}

.filter_active {
  cursor: pointer;
}
.filter_active:hover svg path {
  fill: var(--yellow);
  stroke: black;
  stroke-width: 0.2px;
}
.filter_active:active svg path, .filter_active_active svg path {
  fill: var(--black);
}

.edit {
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 58px;
}
.edit:hover svg path, .edit active svg path {
  fill: black;
}

.delete {
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 25px;
}
.delete:hover svg path, .delete active svg path {
  fill: black;
}

.group-big {
  cursor: pointer;
}
.group-big:hover svg circle {
  fill: var(--yellow);
}
.group-big:active svg circle, .group-big_active svg circle {
  fill: var(--black);
}

.group-small {
  cursor: pointer;
}
.group-small:hover svg circle {
  fill: var(--yellow);
}
.group-small:active svg circle, .group-small_active svg circle {
  fill: var(--black);
}

.close-secondary {
  cursor: pointer;
}
.close-secondary:hover svg path {
  fill: var(--yellow);
  stroke: black;
  stroke-width: 0.2;
}
.close-secondary:active svg path, .close-secondary_active svg path {
  fill: var(--black);
}

.close-primary {
  cursor: pointer;
}
.close-primary:hover svg path {
  fill: var(--yellow);
}
.close-primary:active svg path, .close-primary_active svg path {
  fill: var(--black);
}

.vk {
  cursor: pointer;
}
.vk:hover svg path {
  fill: var(--black);
  stroke: var(--yellow);
  stroke-width: 0.2;
}
.vk:active svg path, .vk_active svg path {
  stroke: var(--white);
  fill: var(--white);
}

.telegram {
  cursor: pointer;
}
.telegram:hover svg path {
  fill: var(--black);
  stroke: var(--yellow);
  stroke-width: 0.2;
}
.telegram:active svg path, .telegram_active svg path {
  stroke: var(--white);
  fill: var(--white);
}

.whatsup {
  cursor: pointer;
}
.whatsup:hover svg path {
  fill: var(--black);
  stroke: var(--yellow);
  stroke-width: 0.2;
}
.whatsup:active svg path, .whatsup_active svg path {
  stroke: var(--white);
  fill: var(--white);
}

.yt {
  cursor: pointer;
}
.yt:hover svg path {
  fill: var(--black);
  stroke: var(--yellow);
  stroke-width: 0.2;
}
.yt:active svg path, .yt_active svg path {
  stroke: var(--white);
  fill: var(--white);
}

.ok {
  position: absolute;
  top: 22px;
  right: 20px;
}
.ok img {
  width: 16px;
  height: 16px;
}
.ok__active {
  display: block;
}
.ok_item {
  top: 17px;
  right: 21px;
}

.warning {
  position: absolute;
  top: 22px;
  right: 20px;
}
.warning img {
  width: 16px;
  height: 16px;
}
.warning__input {
  border: 1px dashed var(--red);
}
.input-vk {
  position: absolute;
  left: 20px;
  top: 14px;
}

/** radio**/
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
}
.custom-radio + label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: var(--black);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  text-transform: uppercase;
}
.custom-radio + label:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid var(--black);
}
.custom-radio:hover + label:before {
  background: var(--yellow);
}
.custom-radio:checked + label:before {
  background: transparent;
}
.custom-radio:checked + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 4px;
}
.custom-radio_order + label:before {
  content: "";
  display: inline-block;
  margin-right: 20px;
}

/** btn**/
.btn {
  padding: 13px 45px;
  background: var(--yellow);
  border: 1px solid var(--black);
  border-left: none;
  height: 50px;
  cursor: pointer;
}
.btn:hover {
  background: var(--black);
}
.btn:hover svg path {
  fill: var(--yellow);
}
.btn:active {
  background: var(--black);
  border: 1px solid var(--yellow);
}
.btn:active svg path {
  fill: var(--yellow);
}
.btn:focus {
  background: var(--yellow);
  border: 3px solid var(--black);
}
.btn:focus svg path {
  fill: var(--black);
}
.btn_all button {
  background: var(--black);
  padding: 16px 89px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.btn_all button h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-medium);
  text-transform: uppercase;
  color: var(--white);
}
.btn_all button:hover {
  background: var(--yellow);
}
.btn_all button:hover h3 {
  color: var(--black);
}
.btn_all button:active {
  background: var(--yellow);
  border: 1px solid var(--black);
}
.btn_all button:active h3 {
  color: var(--black);
}
.btn_all button:focus {
  border: 1px solid var(--yellow);
  background: var(--black);
}
.btn_all button:focus h3 {
  color: var(--white);
}

.btn-collection {
  background: var(--yellow);
  padding: 24px 73px 24px 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 278px;
}
.btn-collection p {
  font-weight: var(--fw-black);
  font-size: var(--fs-secondary);
  line-height: var(--lh-secondary);
  letter-spacing: var(--ls-little);
  text-transform: uppercase;
  color: var(--black);
  display: flex;
  align-items: center;
}
.btn-collection p svg {
  margin-left: 10px;
}
.btn-collection:hover {
  background: var(--black);
}
.btn-collection:hover p {
  color: var(--yellow);
}
.btn-collection:hover p svg {
  transform: rotate(45deg);
  transition: 1s;
}
.btn-collection:hover p svg path {
  fill: var(--yellow);
}
.btn-collection:active {
  background: var(--black);
  border: 1px solid var(--yellow);
}
.btn-collection:active p {
  color: var(--yellow);
}
.btn-collection:active p svg {
  transform: rotate(45deg);
}
.btn-collection:active p svg path {
  fill: var(--yellow);
}
.btn-collection:focus {
  background: var(--yellow);
  border: 1px solid var(--black);
}
.btn-collection:focus p {
  color: var(--black);
}
.btn-collection:focus p svg {
  transform: rotate(0);
}
.btn-collection:focus p svg path {
  fill: var(--black);
}

/** checkbox**/
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  font-size: var(--fs-little);
  line-height: var(--lh-checkbox);
  font-feature-settings: "liga" off;
  color: var(--grey);
  cursor: pointer;
}
.custom-checkbox + label:hover {
  text-decoration-line: underline;
  color: var(--black);
  font-weight: var(--fw-semibold);
}
.custom-checkbox + label:focus {
  color: var(--black);
  font-weight: var(--fw-semibold);
}
.custom-checkbox + label:active {
  color: var(--black);
  font-weight: var(--fw-semibold);
}
.custom-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--grey);
  border-radius: 2px;
  position: relative;
  margin-right: 12px;
}
.custom-checkbox:checked + label {
  color: var(--black);
  font-weight: var(--fw-semibold);
}
.custom-checkbox:checked + label:before {
  border: 1px solid var(--black);
}
.custom-checkbox:checked + label:after {
  content: "";
  background-image: url("../icons/checkbox.svg");
  width: 10px;
  height: 9px;
  left: 3px;
  position: absolute;
}

/** --ls-regular-input**/
.subscription {
  max-width: 350px;
  width: 100%;
  background: var(--bg-black);
  padding: 24px 20px;
}
@media (max-width: 768px) {
  .subscription {
    margin: 0 auto;
  }
}
.subscription h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-secondary);
  line-height: var(--lh-secondary);
  letter-spacing: var(--ls-secondary);
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 13px;
}
.subscription p {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-little);
  line-height: var(--lh-little);
  color: var(--supportgrey);
  margin-top: 6px;
}
.subscription__small {
  padding: 13px 26px;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 75px;
  width: 100%;
}
.subscription__item {
  display: flex;
}
.subscription__input {
  max-width: 235px;
  width: 100%;
  background: var(--lightblack);
  font-weight: var(--fw-regular);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  display: flex;
  align-items: center;
  letter-spacing: var(--ls-regular);
  color: var(--white);
  border: 1px solid var(--lightgrey);
  padding: 16px 0 17px 20px;
}

/** header **/
.header {
  padding: 15px 0;
}
@media (max-width: 960px) {
  .header .search {
    display: none;
  }
}
.header__burger-menu {
  display: none;
}
@media (max-width: 960px) {
  .header__burger-menu {
    display: block;
  }
}
.header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo img {
  width: 65px;
  height: 50px;
}
.header__icon {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
.header__icon_bay {
  position: absolute;
  top: 19px;
  right: -13px;
}
@media (max-width: 960px) {
  .header__icon_bay {
    width: 60px;
    top: 2px;
    right: 14px;
  }
}
.header__icon_bay span {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-primary);
  line-height: var(--lh-little);
  color: var(--black);
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

@media (max-width: 960px) {
  .nav {
    display: none;
  }
}
.nav_main {
  margin-top: 30px;
}
.nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  gap: 67px;
}
.nav ul li a {
  position: relative;
  display: block;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-secondary);
  line-height: var(--lh-secondary);
  letter-spacing: var(--ls-bigem);
  text-transform: uppercase;
  color: var(--black);
}
.nav ul li a:before {
  content: "";
  position: absolute;
  display: block;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
}

/** footer **/
.footer {
  background: var(--black);
  padding: 40px 0;
}
.footer__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--linecolor);
  padding-bottom: 40px;
}
@media (max-width: 1024px) {
  .footer__block {
    display: block;
    border: none;
    padding-bottom: 0;
  }
}
.footer__menu {
  display: flex;
  justify-content: center;
  gap: 92px;
}
@media (max-width: 768px) {
  .footer__menu {
    gap: 0;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .footer__menu_item:last-child {
    margin-top: 29px;
  }
}
.footer__menu_item a {
  display: block;
  color: var(--yellow);
  font-weight: var(--fw-bold);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  letter-spacing: var(--ls-secondary);
  text-transform: uppercase;
}
.footer__menu_item a:nth-of-type(3) {
  margin-top: 13px;
  font-weight: var(--fw-regular);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  letter-spacing: var(--ls-secondary);
  color: var(--white);
}
.footer__menu_item span {
  font-weight: var(--fw-regular);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  letter-spacing: var(--ls-secondary);
  color: var(--white);
  display: block;
}
.footer__menu_item h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-secondary);
  line-height: var(--lh-secondary);
  letter-spacing: var(--ls-secondary);
  text-transform: uppercase;
  color: var(--yellow);
  margin-bottom: 10px;
}
.footer__menu_item ul li {
  margin-top: 2px;
}
.footer__menu_item ul li span {
  font-style: italic;
  font-weight: var(--fw-regular);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  letter-spacing: var(--ls-secondary);
  text-transform: uppercase;
  color: #AAA9A9;
}
.footer__menu_item ul li a {
  font-style: normal;
  font-weight: var(--fw-regular);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  letter-spacing: var(--ls-secondary);
  text-transform: uppercase;
  color: var(--white);
}
.footer__block-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .footer__block-two {
    display: block;
  }
}
.footer__block-two_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 107px;
}
@media (max-width: 576px) {
  .footer__block-two_item {
    justify-content: center;
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}
.footer__logo img {
  width: 65px;
  height: 50px;
}
.footer__document {
  display: flex;
  gap: 43px;
}
@media (max-width: 576px) {
  .footer__document {
    display: block;
  }
}
.footer__document a {
  font-weight: var(--fw-regular);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  letter-spacing: var(--ls-secondary);
  color: var(--white);
}
@media (max-width: 576px) {
  .footer__document a {
    display: block;
    text-align: center;
    margin-bottom: 4px;
  }
}
.footer__social {
  display: flex;
  gap: 30px;
}
@media (max-width: 768px) {
  .footer__social {
    display: none;
  }
}
.footer__social_last {
  display: none;
}
@media (max-width: 768px) {
  .footer__social_last {
    display: flex;
    justify-content: center;
    margin-top: 43px;
    margin-bottom: 43px;
  }
}
.footer__menu_items {
  display: flex;
  gap: 106px;
}
@media (max-width: 768px) {
  .footer__menu_items {
    display: block;
  }
}

/** card **/
.card {
  max-width: 350px;
  width: 100%;
  position: relative;
}
.card:hover .favorite-card {
  display: block;
}
.card__img img {
  max-width: 350px;
  width: 1005px;
}
.card a {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  text-transform: uppercase;
  display: block;
  color: var(--black);
}
.card span {
  font-style: italic;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  text-transform: uppercase;
  color: var(--darkgrey);
}
.card__add-to-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.card__add-to-cart p {
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  text-transform: uppercase;
  color: var(--black);
}
.card__add-to-cart a {
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  text-decoration-line: underline;
  color: var(--black);
  display: flex;
  align-items: center;
}
.card__add-to-cart a:after {
  content: "";
  display: block;
  background-image: url("../icons/sale_arrow.svg");
  width: 20px;
  height: 8px;
  margin-left: 6px;
}

.new {
  position: absolute;
  top: -8px;
  right: -16px;
}
.new img {
  width: 60px;
  height: 60px;
}
.new_small img {
  width: 40px;
  height: 40px;
}

.favorite-card {
  position: absolute;
  top: 12px;
  left: 12px;
  display: none;
}
.favorite-card__small {
  top: 7px;
  left: 7px;
}

.card-small {
  position: relative;
  max-width: 160px;
  width: 100%;
}
.card-small:hover .favorite-card {
  display: block;
}
.card-small a {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  text-transform: uppercase;
  color: var(--black);
}
.card-small span {
  font-style: italic;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  text-transform: uppercase;
  color: var(--darkgrey);
}
.card-small__img img {
  max-width: 160px;
  width: 100%;
}

.marquee-infinite {
  max-width: 100%;
  background: var(--black);
  transform: rotate(9deg);
  overflow: hidden;
  margin-left: -6%;
  position: absolute;
  bottom: 6px;
}
.marquee-infinite_two {
  overflow: hidden;
  margin-left: -6%;
  position: absolute;
  transform: rotate(354deg);
  background: var(--white);
  border: 1px solid var(--black);
  z-index: -1;
  bottom: 6px;
}
.marquee-infinite_two h1 {
  color: var(--black);
}
.marquee-infinite_two h1 span {
  color: var(--black);
}
.marquee-infinite h1 {
  white-space: nowrap;
  width: 100%;
  font-style: normal;
  font-weight: var(--fw-regular);
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  text-transform: uppercase;
  color: var(--white);
}
.marquee-infinite h1 span {
  font-weight: var(--fw-black);
}
.marquee-infinite h1 span:nth-of-type(1) {
  font-weight: var(--fw-black);
  color: var(--white);
}
.marquee-infinite h1 span:nth-of-type(2) {
  font-weight: var(--fw-bold);
  color: var(--yellow);
}
.marquee-infinite h1 span:nth-of-type(3) {
  font-weight: var(--fw-regular);
  color: var(--white);
}
.marquee-infinite h1 span:nth-of-type(4) {
  font-weight: var(--fw-bold);
  color: var(--yellow);
}

.marquee-infinite div {
  display: flex;
  width: 200%;
  animation: marquee-infinite 5s linear infinite;
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
/** block **/
/** Главная **/
.main__burger-menu {
  display: none;
}
.main__logo {
  max-width: 65px;
}
.main__logo img {
  width: 100%;
}
.main__icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main__header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.main__img {
  z-index: -1;
}
.main__img picture {
  width: 100%;
}
.main__img picture img {
  max-width: 705px;
}
.main__menu {
  width: 100%;
  padding: 21px 165px 0 30px;
}
.main h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-title);
  line-height: var(--lh-title-secondary);
  text-transform: uppercase;
  color: var(--black);
  white-space: pre-line;
}
.main h2 span {
  display: flex;
  text-align: end;
  white-space: pre-line;
  max-width: 384px;
  width: 100%;
}
.main__circle img {
  width: 138px;
  height: 138px;
}
.main__background {
  background-image: url("../image/background_header.png");
  max-width: 380px;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 20px;
  right: 20px;
}
.main__collection {
  margin-top: 130px;
  margin-bottom: var(--margin-regular);
}
.main__collection h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  text-transform: uppercase;
  color: var(--black);
}
.main__collection_img {
  display: flex;
  align-items: center;
  gap: 30px;
}
.main__collection_img picture {
  max-width: 350px;
}
.main__collection_img picture img {
  width: 100%;
}
.main__item {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.main__item:nth-of-type(1) {
  margin-top: 20px;
}
.main__title-collection h3 {
  font-style: italic;
  font-weight: var(--fw-regular);
  font-size: var(--fs-big-title);
  line-height: var(--lh-big);
  text-transform: uppercase;
  color: var(--black);
}
.main__title-collection span {
  font-style: italic;
  font-weight: var(--fw-regular);
  font-size: var(--fs-medium-title);
  line-height: var(--lh-medium);
  text-transform: uppercase;
  color: var(--black);
}
.main__stroky {
  font-weight: var(--fw-regular);
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  text-transform: uppercase;
  color: var(--white);
  background: var(--black);
  width: 100%;
  height: 111px;
}
.main__popular {
  margin-top: var(--margin-regular);
  margin-bottom: var(--margin-secondary);
}
.main__popular_list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 70px;
}
.main__popular h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  text-transform: uppercase;
  color: var(--black);
}
.main__popular a {
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__popular a:after {
  content: "";
  display: block;
  background-image: url("../icons/sale_arrow.svg");
  width: 20px;
  height: 8px;
  margin-left: 6px;
}
.main__gif {
  margin-bottom: var(--margin-regular);
}
.main__gif img {
  max-width: 1439.95px;
  width: 100%;
}
.main__runningText {
  margin-bottom: var(--margin-regular);
}
.main__runningText h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-title);
  line-height: var(--lh-title-secondary);
  text-transform: uppercase;
  color: var(--black);
}
.main__gallery {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: var(--margin-secondary);
}
.main__gallery picture img {
  max-width: 250px;
  width: 100%;
}

/** Каталог **/
/** Оформления заказа **/
.order-placing {
  display: flex;
  gap: 125px;
}

.order-inner {
  width: 100%;
}
.order-inner h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  text-transform: uppercase;
  color: var(--black);
}
.order-inner label {
  margin-top: 3px;
}
.order-inner__address {
  display: flex;
  gap: 30px;
}
.order-inner__enter {
  max-width: 350px;
  width: 100%;
}
.order-inner__enter p {
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-medium);
  text-transform: uppercase;
  color: var(--black);
  margin-top: 20px;
}
.order-inner__enter p:last-child {
  margin-top: 6px;
}
.order-inner__enter_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-inner__total {
  max-width: 730px;
  width: 100%;
  margin-top: 74px;
  margin-bottom: var(--margin-regular);
}
.order-inner__total .btn_all {
  display: flex;
  justify-content: end;
}
.order-inner__total h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: var(--fw-bold);
  font-size: var(--fs-sup-title);
  line-height: var(--lh-sup-title);
  letter-spacing: var(--ls-regular);
  text-transform: uppercase;
  font-feature-settings: "liga" off;
  color: var(--black);
}
.order-inner__total p {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-sup-secondary);
  line-height: var(--lh-sup-secondary);
  letter-spacing: var(--ls-regular);
  text-transform: uppercase;
  font-feature-settings: "liga" off;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.order-inner__total p:nth-of-type(2) {
  margin-bottom: 44px;
}

.order-sidebar {
  max-width: 255px;
  width: 100%;
  margin-top: 96px;
  position: sticky;
  height: 100%;
  top: 0;
  margin-bottom: var(--margin-regular);
}
.order-sidebar p {
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  text-transform: uppercase;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-sidebar__card {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}
.order-sidebar__card img {
  max-width: 65px;
  width: 100%;
}
.order-sidebar__name {
  margin-left: 30px;
}
.order-sidebar__name h3 {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-normal);
  line-height: var(--lh-checkbox);
  text-transform: uppercase;
  color: var(--black);
}
.order-sidebar__name p {
  font-style: italic;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  text-transform: uppercase;
  color: var(--darkgrey);
}
.order-sidebar__name span {
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  text-transform: uppercase;
  color: var(--black);
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 13px;
}
.order-sidebar__name span a {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-little);
  line-height: var(--lh-little);
  text-align: right;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--black);
  text-decoration: underline;
}

.run-text {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  padding: 18px 0;
  margin-top: 20px;
  max-width: 730px;
  width: 100%;
}
.run-text p {
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  text-transform: uppercase;
  color: var(--black);
}

.run-text:nth-of-type(6) {
  margin-top: 60px;
  margin-bottom: 20px;
}

.order-check {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  max-width: 730px;
  width: 100%;
}
.order-check p {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-primary);
  line-height: var(--lh-primary);
  display: flex;
  align-items: center;
  text-align: right;
  font-feature-settings: "liga" off;
  color: var(--black);
}
.order-check p a {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--black);
}

/** abstract **/
/** Шрифт **/
:root {
  /**Шрифты**/
  --font-family: "Alumni Sans";
  /** font-weight **/
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 800;
  /**font-size**/
  --fs-title: 80px;
  --fs-secondary: 18px;
  --fs-primary: 14px;
  --fs-little:12px;
  --fs-normal:20px;
  --fs-big-title:100px;
  --fs-medium-title:60px;
  --fs-sup-title:40px;
  --fs-sup-secondary:16px;
  /**line-height **/
  --lh-little:12px;
  --lh-primary:17px;
  --lh-title:96px;
  --lh-big:120px;
  --lh-secondary:22px;
  --lh-normal:24px;
  --lh-medium:72px;
  --lh-sup-title:48px;
  --lh-title-secondary:70px;
  --lh-checkbox:16px;
  --lh-sup-secondary:19px;
  /**letter-spacing**/
  --ls-regular:0.04em;
  --ls-medium:0.06em;
  --ls-little:0.01em;
  --ls-secondary:0.02em;
  --ls-big:0.08em;
  /**margin**/
  --margin-regular: 100px;
  --margin-secondary: 80px;
}

/** Цвета **/
:root {
  /** Цвета */
  --black: #000000;
  --white:#FFFFFF;
  --silver:#D9D9D9;
  --yellow:#DBFF4E;
  --grey:#B8B6B6;
  --darkgrey:#444444;
  --red:#FF0000;
  --lightblack:#303030;
  --lightgrey:#4F4F4F;
  --supportgrey:#878787;
  --linecolor:#474747;
  --bg-black:#1B1B1B;
}

/*# sourceMappingURL=style.css.map */
