.block-btn-input{
  max-width: 350px;
  width: 100%;
  background:#1B1B1B;
  padding: 24px 20px ;
  h3{
    font-weight: var(--fw-bold);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 13px;
  }
  p{
    font-weight: var(--fw-semibold);
    font-size: 12px;
    line-height: 12px;
    color: var(--supportgrey);
    margin-top: 6px;
  }
}