@import "../abstract/variables";
.btn {
  padding: 13px 45px;
  background: var(--yellow);
  border: 1px solid var(--black);
  border-left: none;
  cursor: pointer;
  height: 50px;
  &_none{
&:hover{
  svg{
    path{

    }
  }
}

  }
  &_basket {
    width: 100%;
    button {
      background: var(--black);
      border: none;
      display: flex;
      justify-content: center;
      max-width: 255px;
      align-items: center;
      width: 100%;
      height: 60px;
      @media (max-width: $md) {
        max-width: 100%;
      }
      h3{
        font-weight: var(--fw-bold);
        font-size: var(--fs-normal);
        line-height: var(--lh-normal);
        letter-spacing: var(--ls-big);
        text-transform: uppercase;
        color: var(--white);
        margin-top: 0;
      }
      &:hover {
        border: 1px solid var(--yellow);
        background: var(--yellow);


        h3 {
          color: var(--black);
        }
      }
&:active{
  border: 1px solid var(--black);
}
      &:focus {
        border: 1px solid var(--yellow);
        background: var(--black);

        h3 {
          color: var(--white);
        }
      }
    }
  }
  &:hover {
    background: var(--black);

    svg {
      path {
        fill: var(--yellow);
      }
    }
  }

  &:active {
    background: var(--black);
    border: 1px solid var(--yellow);

    svg {
      path {
        fill: var(--yellow);
      }
    }
  }

  &:focus {
    background: var(--yellow);
    border: 3px solid var(--black);

    svg {
      path {
        fill: var(--black);
      }
    }
  }
&_window-enter{
  margin-top: 20px;
  max-width: 460px;
  width: 100%;
  @media (max-width: $md){
    max-width: 100%;
  }
  button {
background: var(--yellow);
    padding: 18px 0;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    letter-spacing:var(--ls-medium);
    text-transform: uppercase;
    color: var(--black);
    border: 1px solid var(--black);
    width: 100%;
    &:hover{
      background: var(--black);
      color: var(--yellow);
      border: 1px solid var(--yellow);
    }
}
}
  &_all {
    button {
      background: var(--black);
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
max-width: 255px;
      width: 100%;
      height: 60px;
      margin-top: 10px;
      @media (max-width: $md) {
        max-width: 100%;
      }
      h3 {
        font-weight: var(--fw-bold);
        font-size: var(--fs-normal);
        line-height: var(--lh-normal);
        letter-spacing: var(--ls-medium);
        text-transform: uppercase;
        color: var(--white);
      }

      &:hover {
        background: var(--yellow);

        h3 {
          color: var(--black);
        }
      }


      &:active {
        background: var(--yellow);
        border: 1px solid var(--black);

  }

}
    &_repeat{
      &:hover{
        svg{
          path{
            fill: var(--black);
          }
        }
      }
      h3{
        display: flex;
        align-items:center;
        svg{
          margin-left: 10px;
        }

      }

    }
    &_white{
      &:hover{
        background: var(--white);
      }
    }
  }

  .btn-black{

    button{
      background: var(--black);
      &:hover{
        background: var(--white);
        border: 1px solid var(--black);
      }
    }
  }

}

.btn-collection{
  background: var(--yellow);
  padding: 24px 0 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 278px;
  max-width: 350px;
  width: 100%;
  @media (max-width: $lg) {
    margin: 0 auto;
  }
  p {
    font-weight: var(--fw-bold);
    font-size: var(--fs-secondary);
    line-height: var(--lh-secondary);
    letter-spacing: var(--ls-big);
    text-transform: uppercase;
    color: var(--black);
    display: flex;
    align-items: center;

    svg{
      margin-left: 10px;
      path{

      }
    }
  }

  &:hover {
    background: var(--black);
    p {
      color: var(--yellow);

      svg{
        transform: rotate(45deg);
        transition: 1s;
        path{
          fill:var(--yellow);
        }
      }
    }
  }

    &_decoration{
      button{
        max-width: 255px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        @media (max-width: $sm) {
       max-width: 100% ;
        }
      }
    }



  &:active {
    background: var(--black);
    border: 1px solid var(--yellow);

    p {
      color: var(--yellow);

      svg{
        transform: rotate(45deg);
        path{
          fill:var(--yellow);
        }
      }
    }


  &:focus {
    background: var(--yellow);
    border: 1px solid var(--black);

    p {
      color: var(--black);
      svg{
        transform: rotate(0);
        path{
          fill:var(--black);
        }
      }
      }
      }
  }
}

.btn-social {
  max-width: 540px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
@media (max-width: $md) {
  max-width:100%;
  gap: 6px;
}
  button {
    color: var(--yellow);
    padding: 19px 0;
    background: var(--black);
    font-style: italic;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: none;

    svg {
      margin-right: 12px;
    }

    &:hover {
      background: var(--yellow);

      svg {
        path {
          fill: var(--black)
        }
      }

      p {
        color: var(--black);
      }
    }

    &:active {
      background: var(--yellow);
      border: 1px solid var(--black);

    }
  }
}
