.btn{
    padding: 13px 45px;
    background: var(--Yellow);
    border: 1px solid var(--black);
    height: 50px;
    cursor: pointer;
  &:hover{
    background: var(--black);
    svg{
      path{
        stroke: var(--Yellow);
      }
    }
  }
  &:active{
    background: var(--black);
    border: 1px solid var(--Yellow);
    svg{
      path{
        stroke: var(--Yellow);
      }
    }
  }
  &:focus{
    background: var(--Yellow);
    border: 3px solid var(--black);
    svg{
      path{
        stroke: var(--black);
      }
    }
  }
  &_small{
    padding: 13px 26px;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  max-width: 75px;
    width: 100%;
  }
}

.btn-collection{
  button{
    background: var(--Yellow);
    padding: 24px 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    h3{
      font-style: normal;
      font-weight: var(--fw-black);
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--black);
    }
    &:hover{
      background: var(--black);
      h3{
        color: var(--Yellow);
      }
    }
    &:active{
      background: var(--black);
      border: 1px solid var(--Yellow);
      h3{
        color: var(--Yellow);
      }
    }
    &:focus{
      background: var(--Yellow);
      border: 1px solid var(--black);
      h3{
        color: var(--black);
      }
    }
  }
}
.btn-basket{
  button{
    background: var(--black);
    padding: 16px 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    h3{
      font-weight: var(--fw-bold);
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--white);
    }
    &:hover{
      background: var(--Yellow);
     h3{
       color: var(--black);
     }
    }
    &:active{
      background: var(--Yellow);
      border: 1px solid var(--black);
      h3{
        color: var(--black);
      }
    }
    &:focus{
      border: 1px solid var(--Yellow);
      background: var(--black);
      h3{
        color: var(--white);
      }
    }
  }
}