.card{
  max-width: 350px;
  width: 100%;
  position: relative;
  &:hover{
    .favorite-card{
      display: block;
    }
    @media (max-width: $md) {
      display: none;
    }
  }

  &__price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    line-height:var(--lh-normal);
    color: var(--black);

    a{
      text-decoration-line: underline;
      display: flex;
      align-items: center;

      &:after{
        content: '';
        display: block;
        background-image: url("../icons/sale_arrow.svg");
        width: 20px;
        height: 8px;
        margin-left: 6px;
      }
    }
  }
  &__img{
    img{
     max-width: 350px;
      width: 100%;
    }
  }

  a{

    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    text-transform: uppercase;
    color: var(--black);
  }
  span{
    font-style: italic;
    font-weight: var(--fw-little);
    font-size: var(--fs-primary);
    line-height: var(--lh-primary);
    text-transform: uppercase;
    color: var(--darkgrey);
    display: block;
  }
  &__add-to-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    p{
      font-weight: var(--fw-bold);
      font-size: var(--fs-normal);
      line-height: var(--lh-normal);
      text-transform: uppercase;
      color: var(--black);
    }
    a{
      font-weight: var(--fw-bold);
      font-size: var(--fs-normal);
      line-height: var(--lh-normal);
      text-decoration-line: underline;
      color: var(--black);
      display: flex;
      align-items: center;
      &:after{
        content: '';
        display: block;
        background-image: url("../icons/sale_arrow.svg");
        width: 20px;
        height: 8px;
        margin-left: 6px;
      }
    }
  }
}
.new{
  position: absolute;
  top: -8px;
  right: -9px;
 background: var(--black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 18px 16px 18px 17px;
  p{
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    text-transform: uppercase;
    color: var(--white);
  }
  &_small{
padding: 8px 7px 8px 6px;
  }
}
.favorite-card{
  position: absolute;
  top: 12px;
  left: 12px;
  display: none;
  @media (max-width: $md) {
    display: block;
  }
  &__small{
    top: 7px;
    left: 7px;
  }
}

.card-small{
position: relative;
  max-width: 160px;
  width: 100%;
  &:hover{
    .favorite-card{
      display: block;
    }
  }
  a{

    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    text-transform: uppercase;
    color: var(--black);
  }
  span{
    font-style: italic;
    font-weight: var(--fw-little);
    font-size: var(--fs-primary);
    line-height: var(--lh-primary);
    text-transform: uppercase;
    color: var(--darkgrey);
  }
  &__img{
img{
  max-width: 160px;
  width: 100%;
}
  }
  @media (max-width: $md) {
    max-width: 147px;
  }
}
