.custom-checkbox{
  position: absolute;
  z-index: -1;
  opacity: 0;
  &+label{
    display: inline-flex;
    align-items: center;
    position: relative;
    font-family:var(--font-family);
    font-weight: var(--fw-regular);
    font-size: var(--fs-little);
    line-height: var(--lh-checkbox);
    font-feature-settings: 'liga' off;
    color: var(--grey);
    cursor: pointer;
    &:hover{
      text-decoration-line: underline;
      color: var(--black);
      font-weight: var(--fw-regular);
    }
    &:focus{
        color: var(--black);
        font-weight: var(--fw-regular);
      }
    &:active{
      color: var(--black);
      font-weight: var(--fw-regular);
    }
  }

  &+label:before{
    content: '';
    display: inline-flex;
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    border: 1px solid var(--grey);
    border-radius: 2px;
    position: relative;
    margin-right: 12px;
  }

  &:checked+label{
    color: var(--black);
    font-weight: var(--fw-regular);
  }
  &:checked+label:before{
    border: 1px solid var(--black);
  }
  &:checked+label:after{
    content: '';
    background-image: url("../icons/checkbox.svg");
    width: 10px;
    height: 9px;
    left: 2px;
    position: absolute;
  }
}