.circle-text {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 22px;

  .text {
    position: absolute;
    left: 0;
    animation: rounded-text 20s linear infinite forwards;
  }
}