.input {
  margin-top: 20px;
  max-width: 720px;
  width: 100%;


  label {
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    text-transform: uppercase;
    color: var(--black);
    font-weight: var(--fw-semibold);
  }

  &__item{
    position: relative;
    padding: 22px 20px 21px 20px;
    border: 1px dashed #B8B6B6;
    &:active {
      border: 1px dashed var(--black);
    }
    &:focus {
      border: 1px dashed var(--black);
    }
    input {
      width: 90%;
      border: none;

      &::placeholder {
        font-weight: var(--fw-regular);
        font-size: var(--fs-primary);
        line-height: var(--lh-primary);
        letter-spacing: var( --ls-regular);
        color: var(--placeholder);
      }
      &:focus-visible {
        outline: none;
      }


    }
    &_small{
      padding: 21px 10px;
    }
  }
  &_small{
    max-width: 106px;
    width: 100%;
  }
}


