.input {
  margin-top: 20px;
  label {
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    text-transform: uppercase;
    color: var(--black);
    font-weight: var(--fw-semibold);
  }

  &__item{
    position: relative;
    max-width: 730px;
    width: 100%;
    input {
      border: 1px dashed #B8B6B6;
      width: 100%;
      padding: 22px 20px 21px 20px;
      &::placeholder {
        font-weight: var(--fw-regular);
        font-size: var(--fs-primary);
        line-height: var(--lh-primary);
        letter-spacing: var( --ls-regular);
        color: var(--black);
      }
      &:focus-visible {
        outline: none;
      }

      &:focus {
        border: 1px dashed var(--black);
      }
    }
  }
  &_small{
    max-width: 106px;
    width: 100%;
  }
}


