.promocod{
  display: flex;
  align-items: center;
  input{
    border: 1px solid var(--black);
    padding: 15px 0 15px 10px;
    height: 50px;
    max-width: 255px;
    width: 100%;
    font-weight: var(--fw-bold);
    font-size:var(--fs-card-name);
    line-height:var(--lh-24);
    &:focus-visible{
      outline: none;
    }
    &::placeholder{
      font-weight: var(--fw-semibold);
      font-size:var(--fs-card-name);
      line-height:var(--lh-24);
      color: var(--black);
      text-transform: uppercase;
      font-family: var(--font-family);
    }
  }

  &_item{
    position: relative;
  }

  &_warning{
    border: 1px solid var(--red);
  }

  &_small{

    input{
      background:var(--lightblack);
      border: 1px solid var(--lightgrey);
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      font-family:var(--font-family);
      font-weight:var(--fw-semibold);
       font-size:var(--fs-primary);
      line-height:var(--lh-17);
      align-items: center;
      line-height:var(--ls-regular);
      color: var(--white);
      padding: 16px 102px 17px 20px;
    }
  }
}