.promocod{
  display: flex;
  align-items: center;
  margin-top: 40px;
  input{
    border: 1px solid var(--black);
    padding: 15px 0 15px 10px;
    height: 50px;
    max-width: 255px;
    width: 100%;
text-align: center;
    font-weight: var(--fw-regular);
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    &:focus-visible{
      outline: none;
    }
    &::placeholder{
      font-weight: var(--fw-regular);
      font-size: var(--fs-normal);
      line-height: var(--lh-normal);
      color: var(--black);
      text-transform: uppercase;
      font-family: var(--font-family);
    }
  }

  &__item{
    position: relative;
  }

  &_warning{
    border: 1px solid var(--red);
  }

  &_small{

    input{
      background:var(--lightblack);
      border: 1px solid var(--lightgrey);
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      font-family:var(--font-family);
      font-weight:var(--fw-regular);
      font-size: var(--fs-primary);
      line-height: var(--lh-primary);
      align-items: center;
      letter-spacing: var(--ls-regular);
      color: var(--white);
      padding: 16px 102px 17px 20px;
    }
  }
}