.custom-radio {
 position: absolute;
  z-index: -1;
opacity: 0;
  display: block;
&+label{
display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
 color:  var(--black);
  font-weight: var(--fw-regular);
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  text-transform: uppercase;
  @media (max-width: $sm) {
    font-size: var(--fs-primary);
    line-height: var(--lh-primary);
  }
}
  &+label:before{
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid var(--black);
    margin-right: 10px;
  }
  &:hover+label:before{
background: var(--yellow);
  }

  &:checked+label:before{
    background: transparent;
  }
  &:checked+label:after{
    content: '';
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left:3px;
  }
  &_order{
    &+label:before{
      content: '';
      display: inline-block;
   margin-right: 20px;
    }
  }
}
.radio-size{
  position: absolute;
  z-index: -1;
  opacity: 0;
  &+label{
    font-weight: var(--fw-regular);
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    text-transform: uppercase;
    color: var(--grey);
    margin-left: 20px;
  }
  &+label:nth-of-type(1){
    margin-left: 0;
  }
  &:checked+label{
    color: var(--black);
    font-weight:var(--fw-bold);
  }
}

.size{
  max-width: 143px;
  width: 100%;
  @media (max-width:$md ) {
margin-top: 20px;
  }
  h3{
    font-weight: var(--fw-regular);
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 5px;
  }
  &_product-card{
    display: flex;
    margin-top: 19px;
    flex-wrap: wrap;
    align-items: center;
    max-width: 229px;
    h3{
      margin-right: 40px;
      margin-bottom: 0;
    }
    a{
      font-style: italic;
      font-weight: var(--fw-regular);
      font-size: var(--fs-primary);
      line-height: var(--lh-primary);
      text-decoration-line: underline;
      text-transform: uppercase;
      color: var(--grey);
      margin-left: auto;
      margin-top: 4px;
    }
  }
}