.soc-input{
  position: relative;
  max-width: 538px;
  width: 100%;
  &:active{
    svg{
      path{
        fill:black
      }
      rect{
        stroke:black
      }
    }
  }

  &:focus{
    svg{
      path{
        fill:black
      }
    }
  }
  input{
    border: 1px dashed var(--grey);
    width: 100%;
    padding:22px 20px 21px 72px;
    &::placeholder{
      font-family:var(--font-family);
      font-weight: var(--fw-medium);
      font-size: var(--fs-primary);
      line-height: var(--lh-primary);
      display: flex;
      align-items: center;
      letter-spacing: var(--ls-regular);
      font-feature-settings: 'liga' off;
      color: var(--grey);
    }
    &:focus-visible{
      outline: none;
    }
    &:active{
      border: 1px dashed var(--black);
    }
    &:focus{
      border: 1px dashed var(--black);
    }
  }
  a{
    font-weight: var(--fw-semibold);
    font-size: var(--fs-primary);
    line-height: var(--lh-primary);
    display: flex;
    align-items: center;
    letter-spacing:var(--ls-regular);
    text-decoration-line: underline;
    font-feature-settings: 'liga' off;
    color: var(--grey);
    position: absolute;
    right: 20px;
    top: 22px;
  }
}