.marquee-infinite {
  overflow: hidden;
  user-select: none;

  &_rotated {
    position: absolute;
    left: -5vw;
    @media (max-width: $md) {
      left: -27vw;
    }
    @media (max-width: $esm) {
      left: -86vw;
    }
  }

  &_black {
    background: var(--black);
  }

  &_white {
    background: transparent;
    border: 1px solid var(--black);

    .text {
      color: var(--black) !important;
    }
  }

  .text {
    display: flex;
    font-weight: var(--fw-regular);
    font-size: var(--fs-title);
    line-height: var(--lh-title);
    text-transform: uppercase;
    color: var(--white);
    gap: 12px;
    will-change: transform;
    animation: marquee-left-to-right 20s linear infinite;

    & > * {
      white-space: nowrap;
    }

    @media (max-width: $md) {
      font-size: var(--fs-sup-title);
      line-height: var(--lh-sup-title);
    }
  }
}

.marquee-small {
  overflow: hidden;

  &_black {
    background: var(--black);
    padding: 2px 0 1px;
  }

  .text {
    font-weight: var(--fw-regular);
    font-size: var(--fs-primary);
    line-height: var(--lh-primary);
    letter-spacing: var(--ls-little);
    white-space: nowrap;
    text-transform: uppercase;
    display: flex;
    color: var(--white);
    will-change: transform;
    animation: marquee-right-to-left 20s linear infinite;
  }

  &_to-right {
    .text {
      animation: marquee-left-to-right 20s linear infinite;
    }
  }
}

.marquee-medium {
  overflow: hidden;
  padding: 9px 0;

  &_white {
    background: var(--white);
    padding: 8px 0;

    span {
      color: var(--black);
    }
  }

  .text {
    font-weight: var(--fw-regular);
    font-size: var(--fs-sup-title);
    line-height: var(--fs-sup-title);
    white-space: nowrap;
    text-transform: uppercase;
    will-change: transform;
    animation: marquee-left-to-right 20s linear infinite;
  }
}

.run-text-animation {
  overflow: hidden;

  .text {
    will-change: transform;
    animation: marquee-left-to-right 20s linear infinite;
    display: flex;
    gap: 4px;

    & > * {
      white-space: nowrap;
    }
  }

  &_to-left {
    .text {
      animation: marquee-right-to-left 20s linear infinite;
    }
  }

  &_to-bottom {
    .text {
      animation: marquee-up-to-bottom 8s linear infinite;
    }
  }

  &_to-up {
    .text {
      animation: marquee-bottom-to-up 8s linear infinite;
    }
  }
}