.marquee-infinite {
  overflow: hidden;

  &_rotated {
    position: absolute;
    left: -5vw;
    @media (max-width: $md) {
      left: -27vw;
    }
  }

  &_black {
    background: var(--black);
  }

  &_white {
    background: var(--white);
    border: 1px solid var(--black);

    .text {
      color: var(--black) !important;
    }
  }

  .text {
    white-space: nowrap;
    font-weight: var(--fw-regular);
    font-size: var(--fs-title);
    line-height: var(--lh-title);
    text-transform: uppercase;
    color: var(--white);
    gap: 12px;
@media (max-width: $md) {
  font-size: var(--fs-sup-title);
  line-height: var(--lh-sup-title);
}
    span {
      font-weight: var(--fw-black);
    }
  }
}

.marquee-infinite > div {
  display: flex;
  gap: 12px;
  animation: marquee-left-to-right 8s linear infinite;
}

.marquee-small {
  overflow: hidden;

  &_black {
    background: var(--black);
    padding: 2px 0 1px;
  }

  .text {
    font-weight: var(--fw-regular);
    font-size: var(--fs-primary);
    line-height: var(--lh-primary);
    letter-spacing: var(--ls-little);
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--white);
    animation: marquee-right-to-left 8s linear infinite;
  }
}

.marquee-medium {
  overflow: hidden;

  &_white {
    background: var(--white);
    padding: 8px 0;

    span {
      color: var(--black);
    }
  }

  .text {
    font-weight: var(--fw-regular);
    font-size: var(--fs-sup-title);
    line-height: var(--fs-sup-title);
    white-space: nowrap;
    text-transform: uppercase;
    animation: marquee-left-to-right 8s linear infinite;
  }
}