.widget-block {
  position: relative;
  display: flex;
  gap: 30px;
  margin-top: 30px;

  &__collection-img {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;

    picture {
      max-width: 350px;

      img {
        width: 100%;
      }
    }

    @media (max-width: $lg) {
      display: none;
    }

    &_mobile {
      display: none;
      @media (max-width: $lg) {
        picture {

        }
        display: flex;
        justify-content: center;
      }
    }
  }

  &__item:nth-of-type(1) {
    margin-top: 20px;
  }

  &__title-collection {
    max-width: 350px;
    width: 100%;
    @media (max-width: $lg) {
      max-width: 100%;
    }


  }

  &__text-collection {
    h3 {
      font-style: italic;
      font-weight: var(--fw-regular);
      font-size: var(--fs-big-title);
      line-height: var(--lh-big);
      text-transform: uppercase;
      color: var(--black);
    }

    span {
      font-style: italic;
      font-weight: var(--fw-regular);
      font-size: var(--fs-medium-title);
      line-height: var(--lh-medium);
      text-transform: uppercase;
      color: var(--black);
    }

    @media (max-width: $lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: var(--fs-sup-title);
        line-height: var(--lh-sup-title);
      }
      span {
        margin-left: 20px;
        font-size: var(--fs-sup-title);
        line-height: var(--lh-sup-title);
      }
    }
  }
}

.run-text-widget {
  border: 1px solid var(--black);
  padding: 1px 0;

  h3 {
    font-weight: var(--fw-regular);
    font-size: var(--fs-primary);
    line-height: var(--lh-primary);
    letter-spacing: var(--ls-little);
    text-transform: uppercase;
    color: var(--black);
  }

  @media (max-width: $md) {
    border-left: none;
    border-right: none;
  }
}

.subscription-widget {
  position: fixed;
  bottom: 1px;
  z-index: 4;
  width: 100%;
  opacity: 0;
  transform: translateX(-100%);

  &_opened {
    transform: translateX(0);
    opacity: 1;
  }

  input {
    background: var(--yellow);
    border: none;
    font-weight: var(--fw-regular);
    font-size: var(--fs-sup-title);
    line-height: var(--lh-sup-title);
    letter-spacing: var(--ls-little);
    text-transform: uppercase;
    color: var(--black);
    width: 100%;
    text-align: center;

    @media (max-width: $md) {
      font-size: var(--fs-normal);
      line-height: var(--lh-normal);
    }

    &:focus-visible {
      outline: none;
    }

  }

  &__placeholder {
    position: absolute;
    left: 0;
    top: 50%;

    font-weight: var(--fw-little);
    font-size: var(--fs-sup-title);
    line-height: var(--lh-sup-title);
    letter-spacing: var(--ls-little);
    text-transform: uppercase;

    pointer-events: none;
  }

  &__inner {
    background: var(--yellow);
    width: 100%;
    padding: 26px 0;
    @media (max-width: $md) {
      padding: 38px 0;
    }

    h3 {
      font-style: normal;
      font-weight: var(--fw-bold);
      font-size: var(--fs-sup-title);
      line-height: var(--lh-sup-title);
      letter-spacing: var(--ls-little);
      text-transform: uppercase;
      color: var(--black);
      justify-content: center;
      width: 100%;
      display: flex;
      display: none;
      @media (max-width: $md) {
        font-size: var(--fs-normal);
        line-height: var(--lh-normal);
      }
    }
  }
}

.tosend {
  position: absolute;
  top: 103px;
  right: 0;
  opacity: 0;
  pointer-events: none;

  &_active {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
  }

  p {
    font-weight: var(--fw-regular);
    font-size: var(--fs-primary);
    line-height: var(--lh-primary);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--black);
  }
}

.mailing {
  position: fixed;
  bottom: 20px;
  z-index: 4;
  cursor: pointer;
  transform: translateX(0);

  &_hide {
    transform: translateX(-100%);
  }

  img {
    max-width: 40px;
    width: 100%;
  }
}


