.allicons{
  display: flex;
  align-items: center;
}



.search{
  cursor: pointer;
  display: flex;
  &:hover{
    svg{
      path{
        stroke:black;
        stroke-width: 0.2px;
        border: 0.2px solid var(--black);
        fill:var(--yellow);
      }
    }
  }
  &:active, &_active{
    svg{
      path{
        stroke:black;
        stroke-width: 1.3px;
      }
    }
  }
  &__white{
    @media (max-width: 960px) {
      svg{
        path{
          fill: (var(--white));
        }
      }
    }

  }
  &_mobile{
    @media (max-width: $lg) {
      display: none;
    }
  }
  &_block-search{
    position: absolute;
    left: 0;
  bottom: 6px;
  }
}

.favorite{
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover{
    svg{
      path:nth-of-type(1){
        fill:var(--yellow);
        stroke: black;
        stroke-width: 0.2px;
      }
    }
  }

  &:active, &_active{
    svg{
      path:nth-of-type(1){
        fill: var(--black);
      }

      path:nth-of-type(2){
        fill: var(--yellow);
      }
    }
  }
  &__white{
    @media (max-width: 960px) {
      svg{
        path{
          fill: (var(--white));
        }
      }
    }

  }
  &_mobile{
    @media (max-width: $lg) {
      display: none;
    }
  }
}

.user{
  cursor: pointer;
  &:hover{
    svg{
      path:nth-of-type(1){
        fill: var(--yellow);
        stroke: black;
        stroke-width: 0.2px;
      }
    }
  }
  &:active, &_active{
    svg{
      path:nth-of-type(1){
        fill: var(--black);
      }
      path:nth-of-type(2){
        fill: var(--yellow);
      }
      path:nth-of-type(3){
        fill: var(--yellow);
      }
    }
  }
  &__white{
    @media (max-width: 960px) {
      svg{
        path{
          fill: (var(--white));
        }
      }
    }
  }
  &_mobile{
    @media (max-width: $lg) {
      display: none;
    }
  }
}

.cart{
  cursor: pointer;
  position: relative;
  &:hover{
    svg{
      path:nth-of-type(1){
        fill: var(--yellow);
        stroke: black;
        stroke-width: 0.2px;
      }
    }
  }
  &:active, &_active{
    svg{
      path:nth-of-type(1){
        fill: var(--black);
      }
      path:nth-of-type(2){
        fill: var(--yellow);
      }
    }
  }
  &__quantity{
    position: absolute;
    background: var(--yellow);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: -7px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      font-weight: var(--fw-regular);
      font-size: var(--fs-little);
      line-height: var(--lh-little);
      color: var(--black);
    }
  }
}
.filter{
  cursor: pointer;
  &:hover{
    svg{
      path{
        fill: var(--yellow);
        stroke: black;
        stroke-width: 0.2px;
      }
    }
  }
  &:active, &_active{
    svg{
      path{
        fill: var(--black);

      }
    }
  }
}

.filter_active{
  cursor: pointer;
  &:hover{
    svg{
      path{
        fill: var(--yellow);
        stroke: black;
        stroke-width: 0.2px;
      }
    }
  }
  &:active, &_active{
    svg{
      path{
        fill: var(--black);

      }
    }
  }
}

.edit{
  cursor: pointer;
  position: absolute;
  top:18px;
  right: 58px;
  @media (max-width: $sm) {
    right: 44px;
  }
  &:hover,active{
    svg{
      path{
        fill: black;
      }
    }
  }
}

.delete{
  cursor: pointer;
  position: absolute;
  top:18px;
  right: 25px;
  @media (max-width: $sm) {
    right: 15px;
  }
  &:hover,active{
    svg{
      path{
        fill: black;
      }
    }
  }
}

.group-big{
  cursor: pointer;
  &:hover{
    svg{
      circle{
        fill: var(--yellow);
      }
    }
  }
  &:active, &_active{
    svg{
      circle{
        fill: var(--black);
      }
    }
  }
}

.group-small{
  cursor: pointer;
  &:hover{
    svg{
      circle{
        fill: var(--yellow);
      }
    }
  }
  &:active, &_active{
    svg{
      circle{
        fill: var(--black);
      }
    }
  }
}
.close-secondary{
  cursor: pointer;
  display: flex;

  &:hover{
    svg{
      path{
        fill: var(--yellow);
        stroke: black;
        stroke-width: 0.2;
      }
    }
  }
  &:active, &_active{
    svg{
      path{
        fill: var(--black);
      }
    }
  }
  &_white{
    position: absolute;
    right: 10px;
    top: 10px;
    svg{
      path{
        fill: var(--white);
      }
    }
  }

  &_search{
    position: absolute;
   bottom: 6px;
    right: 0;
  }
}

.close-primary{
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  &:hover{
    svg{
      path{
        fill: var(--yellow);
      }
    }
  }
  &:active, &_active{
    svg{
      path{
        fill: var(--black);
      }
    }
  }
}

.vk{
  cursor: pointer;
  &:hover{
    svg{
      path{
        fill: var(--black);
        stroke: var(--yellow);
        stroke-width: 0.2;
      }
    }
  }
  &:active, &_active{
    svg{
      path{
        stroke: var(--white);
        fill: var(--white);
      }
    }
  }
}
.telegram{
  cursor: pointer;
  display: flex;
  &:hover{
    svg{
      path{
        fill: var(--black);
        stroke: var(--yellow);
        stroke-width: 0.2;
      }
    }
  }
  &:active, &_active{
    svg{
      path{
        stroke: var(--white);
        fill: var(--white);
      }
    }
  }
}

.whatsup{
  cursor: pointer;
  display: flex;
  &:hover{
    svg{
      path{
        fill: var(--black);
        stroke: var(--yellow);
        stroke-width: 0.2;
      }
    }
  }
  &:active, &_active{
    svg{
      path{
        stroke: var(--white);
        fill: var(--white);
      }
    }
  }
}

.yt{
  cursor: pointer;
  &:hover{
    svg{
      path{
        fill: var(--black);
        stroke: var(--yellow);
        stroke-width: 0.2;
      }
    }
  }
  &:active, &_active{
    svg{
      path{
        stroke: var(--white);
        fill: var(--white);
      }
    }
  }
}


.ok{
  position: absolute;
  top: 22px;
  right:20px;
  img{
    width: 16px;
    height: 16px;
  }
  &__active{
    display: block;
  }
  &_item{
    top: 17px;
    right: 21px;
  }
}

.warning{
  position: absolute;
  top: 22px;
  right:20px;

  img{
    width: 16px;
    height: 16px;
  }
  &__input{
    border: 1px dashed var(--red);
  }
  &__active{

  }
}

.input-vk{
  position: absolute;
  left: 20px;
  top: 14px;
}


.slider {
  padding: 32px;
  color: #fff;
}
.slider .swiper-container {
  width: 100%;
  height: 100%;
}
.slider__flex {
  display: flex;
  align-items: flex-start;
}
.slider__col {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 32px;
}
.slider__prev,
.slider__next {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider__prev:focus,
.slider__next:focus {
  outline: none;
}
.slider__thumbs {
  height: calc(400px - 96px);
}
.slider__thumbs .slider__image {
  transition: 0.25s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.slider__thumbs .slider__image:hover {
  opacity: 1;
}
.slider__thumbs .swiper-slide-thumb-active .slider__image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
.slider__images {
  height: 400px;
}
.slider__images .slider__image img {
  transition: 3s;
}
.slider__images .slider__image:hover img {
  transform: scale(1.1);
}
.slider__image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .slider__flex {
    flex-direction: column-reverse;
  }
  .slider__col {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-top: 24px;
    width: 100%;
  }
  .slider__images {
    width: 100%;
  }
  .slider__thumbs {
    height: 100px;
    width: calc(100% - 96px);
    margin: 0 16px;
  }
  .slider__prev,
  .slider__next {
    height: auto;
    width: 32px;
  }
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}