/** Анимация бегущей строки слева - направо. */
@keyframes marquee-left-to-right {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}

/** Анимация бегущей строки справа - налево. */
@keyframes marquee-right-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

/** Анимация бегущей строки снизу - вверх. */
@keyframes marquee-bottom-to-up {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}

/** Анимация бегущей строки сверху - вниз. */
@keyframes marquee-up-to-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40%);
  }
}

/** Всплытие элемента сверху. */
@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/** Всплытие элемента снизу. */
@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/** Всплытие элемента справа. */
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/** Всплытие элемента слева. */
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/** Поворот округлого текста.*/
@keyframes rounded-text {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** Всплытие. */
@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** Затухание. */
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}