:root {
/** Цвета */
  --black: #000000;
  --white:#FFFFFF;
  --silver:#D9D9D9;
  --yellow:#DBFF4E;
  --grey:#B8B6B6;
  --darkgrey:#444444;
  --red:#FF0000;
  --lightblack:#303030;
  --lightgrey:#4F4F4F;
  --supportgrey:#878787;
  --linecolor:#474747;
  --background-black:#1B1B1B;
}
