
:root {
  /**Шрифты**/
  --font-family: 'Alumni Sans';

  /** font-weight **/
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 800;


  /**font-size**/
  --fs-title: 80px;
  --fs-title-footer: 18px;
  --fs-primary: 14px;
  --fs--btn:12px;
  --fs-card-name:20px;
  --fs-big-title:100px;
  --fs-medium-title:60px;
  --fs-40:40px;

  /**line-height **/
  --lh-17:17px;
  --lh-24:24px;
  --lh-48:48px;
  --lh-22:22px;
  --lh-72:72px;
  --lh-70:70px;
  --lh-96px:96px;
  --lh-120:120px;

  /**letter-spacing**/
  --ls-regular:0.04em;
  --ls-01:0.01em;
}
