#page-404 {
  padding-top: 0;

  .marquee-infinite {
    &_black {
      top: 0;
      right: 0;
      left: -20vw;
      transform: rotate(-30deg);
      z-index: 2;
      @media (max-width: $md) {
        transform: rotate(349deg);
        top: 94px;
      }
@media (max-width: $esm) {
  transform: rotate(335deg);
  top: 109px;
}
    }

    &_white {
      &-one {
        transform: rotate(45deg);
        right: 0;
        left: -90vw;
        @media (max-width: $xl) {
         right: 323px;
        }
        @media (max-width: $md) {
          transform: rotate(13deg);
          top: 84px;
          right: inherit;
        }
        @media (max-width: $sm) {
          top: 150px;
        }
        @media (max-width: $esm) {
          top: 193px;
        }
      }

      &-two {
        transform: rotate(-45deg);
        left: -20vw;

        @media (min-width: 1600px) {
          left: -5vw;
        }
        @media (max-width: $xl) {
          top: -211px;
        }
        @media (max-width: $lg) {
          top: -396px;
        }
        @media (max-width: $md) {
          transform: rotate(357deg);
          top: 461px;
          left: -122px;
        }
        @media (max-width: $esm) {
          transform: rotate(353deg);
          top: 421px;
          left: -159px;
        }
      }
    }
  }
}

.bg-wrapper {
  padding-top: 80px;
  background: var(--yellow);
  position: relative;
}

.error {
  background: var(--yellow);
  padding-top: 103px;
  padding-bottom: 87px;

  h3 {
    font-style: italic;
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium-title);
    line-height: var(--lh-medium);
    letter-spacing: var(--ls-big);
    text-transform: uppercase;
    color: var(--black);
    display: flex;
    justify-content: center;
  }

  p {
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    letter-spacing: var(--ls-big);
    text-transform: uppercase;
    color: var(--black);
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .btn_all {
    display: flex;
    justify-content: center;

    button {
      background: transparent;
      border: 1px solid var(--black);

      &:hover {
        background: var(--black);

        h3 {
          color: var(--white);
        }
      }

      h3 {
        font-style: normal;
        color: var(--black);
      }
    }
  }
}