@import "../abstract/variables";

#main-page {
  padding-top: 0;
}

.main {

  &__burger-menu {
    position: relative;
    z-index: 3;
    display: none;
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
    }
    @media (max-width:$lg) {
      display: flex;
    }
  }

  &__logo {
    max-width: 65px;

    img {
      width: 100%;
      @media (max-width: $md) {
        width: 50px;
        height: 38px;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  &__header-all {
    position: relative;

    .marquee-infinite {
      &_black {
        transform: rotate(9deg);
        bottom: -363px;
        @media (max-width: $xl) {
          bottom: -415px;
        }
        @media (max-width: $lg) {
        bottom: -545px;
      }
        @media (max-width: $md) {
          bottom: -285px;
        }
        @media (max-width: $sm) {
          transform: rotate(17deg);
          bottom: -454px;
        }
        @media (max-width: $esm) {
          bottom: -421px;
        }
      }

      &_white {
        transform: rotate(-6deg);
        bottom: 135px;
        background: var(--white);
        z-index: -1;
        @media (max-width: $xl) {
          bottom:107px;
        }
        @media (max-width: $lg) {
          bottom: -16px;
        }
        @media (max-width: $md) {
          bottom: -102px;
        }
        @media (max-width: $sm) {
          bottom: -33px;
          transform: rotate(-11deg);
        }
        @media (max-width: $esm) {
          bottom: 11px;
        }
      }
    }
  }

  &__header-wrapper {
    position: relative;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: $lg) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 10px;
    }
    @media (max-width: $md) {
      gap: 0;
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    z-index: -1;

    picture {
      width: 100%;

      img {
        max-width: 705px;
        width: 100%;
        @media (max-width: $md) {
          max-width: 210px;
        }
      }
    }

    @media (max-width: $lg) {
      order: 2;
    }
  }

  &__collection {
    margin-top: 207px;
    margin-bottom: var(--margin-regular);

    @media (max-width: $lg) {
    margin-top: 260px;
    }

    h3 {
      font-weight: var(--fw-bold);
      font-size: var(--fs-title);
      line-height: var(--lh-title);
      text-transform: uppercase;
      color: var(--black);
      @media (max-width: $lg) {
        display: flex;
        justify-content: center;
        @media (max-width: $lg) {
          font-size: var(--fs-sup-title);
          line-height: var(--lh-sup-title);
        }
      }
    }


  }

  &__collection-img {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    font-size: 0;

    picture {
      max-width: 350px;

      img {
        width: 100%;
      }
    }

    @media (max-width: $lg) {
      display: none;
    }

    &_mobile {
      display: none;
      @media (max-width: $lg) {
        picture {

        }
        display: flex;
        justify-content: center;
      }
    }
  }

  &__menu {
    width: 100%;
    padding: 21px 10px 0 30px;
    max-width: 560px;
    @media (max-width: $lg) {
      padding: 11px 0 0 0;
      max-width: 100%;
    }
  }

  h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-title);
    line-height: var(--lh-title-secondary);
    text-transform: uppercase;
    color: var(--black);
    margin: 122px auto 0;
    animation: slide-left 1s linear forwards;

    @media (max-width: $xl) {
      margin-top: 50px;
    }
    @media (max-width: $md) {
      font-size: var(--fs-sup-title);
      line-height: var(--lh-sup-title);
    }
    @media (max-width: $md) {
      margin-top: 8px;
      margin-bottom: -22px;
    }

    span {
      display: flex;
      width: fit-content;
      text-align: right;
    }
  }

  &__circle {
    width: 139px;
    height: 139px;
    position: absolute;
    bottom: 220px;
@media (max-width: $xl) {
  bottom: 30px;
}
    @media (max-width: $lg) {
      bottom: -90px;
      right: 10px;
    }
    &-catalog {
      font-size: var(--fs-sup-secondary);
      line-height: var(--lh-sup-secondary);
      letter-spacing:var(--ls-secondary);
      text-transform: uppercase;
      display: flex;
      align-items: center;

      &:after {
        content: '';
        background-image: url("../icons/arrow_main_circle.svg");
        display: block;
        width: 16px;
        height: 4px;
        margin-left: 4px;
      }
    }



  }

  &__background {
    --block-width: 380px;

    max-width: var(--block-width);
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    bottom: -100px;
    left: calc(40% - (var(--block-width)/2));

    background: #DBFF4E;
    filter: blur(100px);
    z-index: -2;
    @media (max-width: $md) {
      --block-width: 257px;
      left: calc(73% - (var(--block-width) / 2));
      bottom: -293px;
    }
  }

  &__text-collection {
    h3 {
      font-style: italic;
      font-weight: var(--fw-regular);
      font-size: var(--fs-big-title);
      line-height: var(--lh-big);
      text-transform: uppercase;
      color: var(--black);
      display: flex;
      align-items: center;

      p {
        font-weight: var(--fw-overlittle);
      }
    }

    span {
      font-style: italic;
      font-weight: var(--fw-little);
      font-size: var(--fs-medium-title);
      line-height: var(--lh-medium);
      text-transform: uppercase;
      color: var(--black);
    }

    @media (max-width: $lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: var(--fs-sup-title);
        line-height: var(--lh-sup-title);
      }
      span {
        margin-left: 20px;
        font-size: var(--fs-sup-title);
        line-height: var(--lh-sup-title);
      }
    }
  }

  &__item {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    position: relative;
  }

  &__item:nth-of-type(1) {
    margin-top: 20px;
  }

  &__title-collection {
    max-width: 350px;
    width: 100%;
    @media (max-width: $lg) {
      max-width: 100%;
    }


  }

  &__running-text {
    display: flex;
    align-items: center;
    font-weight: var(--fw-regular);
    font-size: var(--fs-title);
    line-height: var(--lh-title);
  }

  &__popular {
    margin-top: var(--margin-regular);
    margin-bottom: var(--margin-secondary);

    &_list {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 70px;
    }

    h3 {
      font-weight: var(--fw-bold);
      font-size: var(--fs-title);
      line-height: var(--lh-title);
      text-transform: uppercase;
      color: var(--black);
    }

  }

  &__menu-group {
    animation: slide-bottom 1s linear forwards;
  }

  &__jro-animation {
    margin-bottom: var(--margin-regular);

    canvas {
      width: 100%;
    }

    #animation-jro-desktop {
      height: 500px;

      @media (max-width: $md) {
        display: none;
      }
    }

    #animation-jro-mobile {
      display: none;
      height: 400px;

      @media (max-width: $md) {
        display: block;
              }
    }
  }

  &__mixed-text-link{
    position: absolute;
    bottom: 0;
    right: 0;
    @media (max-width: $xl) {
      right: 10px;
    }
    @media (max-width: $lg) {
      position: sticky;
      margin-top: 10px;
    }
    a{
      font-weight: var(--fw-bold);
      font-size:var(--fs-normal);
      line-height: var(--lh-normal);
      text-transform: uppercase;
      color: var(--black);
      display: flex;
      align-items:center ;
      text-decoration: underline;
&:after{
  content: '';
  display: block;
  background-image: url("../icons/sale_arrow.svg");
  width: 20px;
  height: 8px;
  margin-left: 6px;

}
    }
  }

  &__mixed-text {
    margin-bottom: var(--margin-regular);
    position: relative;

    .container {
      position: relative;
    }
    
    h3 {
      font-size: 140px;
      line-height: 70px;
      margin-bottom: 80px;
      font-weight: var(--fw-bold);
      text-transform: uppercase;

      @media (max-width: $md) {
        font-size: 60px;
        line-height: 36px;
        margin-bottom: 40px;
      }
    }

    .mixed-text {
      font-weight: var(--fw-bold);
      font-size: var(--fs-title);
      line-height: var(--lh-title-secondary);
      text-transform: uppercase;
      color: var(--black);
      padding-left: 80px;

      @media (max-width: $md) {
        padding-left: 0;
        font-size: 36px;
        line-height: 36px;
      }

      span {
        transition: font-weight .1s linear, color .3s linear;
      }
    }
  }

  &__gallery {
    margin-bottom: var(--margin-secondary);

    .swiper-slide {
      width: auto;

      img {
        max-width: 250px;
        width: 100%;
        
        @media (max-width: $md) {
          max-width: 137px;
        }
      }
    }

    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
    }
  }
}

.popular {
  margin-top: 100px;
  margin-bottom: 80px;
  @media (max-width: $md) {
    margin-top: var(--margin-regular-mobile);
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 70px;

    /*.swiper-slide {
      max-width: 350px;
    }*/

    .swiper {
      padding-top: 20px;
    }

    .swiper-pagination {
      display: none;
      bottom: -30px;

      @media (max-width: $xl) {
        display: block;
      }
    }
  }

  h3 {
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: var(--fs-title);
    line-height: var(--lh-title);
    text-transform: uppercase;
    color: var(--black);
    @media (max-width: $md) {
      font-size: var(--fs-sup-title);
      line-height: var(--lh-sup-title);
    }
  }

  .swiper-button-next {
    right: -80px;
  }

  .swiper-button-prev {
    left: -80px;
  }

  .popular-arrow {
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '';
      display: block;
      background-image: url("../icons/sale_arrow.svg");
      width: 20px;
      height: 8px;
      margin-left: 6px;
    }

    &_none {
      @media (max-width: $md) {
        display: none;
      }
    }
  }
}