.payment-error {
  position: relative;
  min-height: 40vh;
  margin-top: 227px;
  text-align: center;
  padding-bottom: 44px;

  @media (max-width: $md) {
    margin-top: 92px;
    padding-bottom: 241px;
  }

  .marquee-infinite {
    &_black {
      transform: rotate(5deg);
      top: -18px;
@media (max-width: $md) {
  transform: rotate(5deg);
  top: inherit;
  bottom: 28px;
}
      @media (max-width: $esm) {
        transform: rotate(9deg);
        bottom: -30px;
      }
      .text {
        color: var(--red);
      }
    }

    &_white {
      transform: rotate(-6deg);
      z-index: -1;
      top: -280px;
      @media (max-width: $xl) {
        top: -325px;
      }

      @media (max-width: $md) {
        top: inherit;
        bottom: 191px;
        transform: rotate(-11deg);
      }

      @media (max-width: $sm) {
       bottom: 243px;
      }
      @media (max-width: $esm) {
        bottom: 219px;
        transform: rotate(-12deg);
      }
    }
  }

  h3 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-sup-title);
    line-height: var(--lh-sup-title);
    letter-spacing: var(--ls-regular);
    text-transform: uppercase;
    color: var(--black);
  }

  .btn_all {
    display: flex;
    justify-content: center;
    button{
      background: var(--black);
      border: 1px solid var(--black);
      &:hover{
        background: var(--white);
        h3{
          color: var(--black);
        }
      }
      h3{
        font-style: normal;
        color: var(--white);
      }

    }

  }

.btn_all:last-child{
  button{
    background: var(--white);
    h3{
      color: var(--black);
    }
    &:hover{
      background: var(--black);
      h3{
        color: var(--white);
      }
    }
  }
}
}

