.page-search {
  border-top: 1px solid var(--black);
  position: relative;

}

.page-search-beginning {
  position: relative;
  min-height: calc(100vh - 200px);

  .marquee-infinite {
    &_black {
      transform: rotate(9deg);
      top: 420px;
      @media (max-width: $md) {
        top:253px;
      }
      @media (max-width: $esm) {
        top: 474px;
        transform: rotate(22deg);
      }
    }

    &_white {
      transform: rotate(-6deg);
      z-index: -1;
      top: -10px;
      @media (max-width: $md) {
  top: 78px;
        transform: rotate(-10deg);
      }
      @media (max-width: $sm) {
        top: -38px;
        transform: rotate(-12deg);
      }
      @media (max-width: $esm) {
        top: -376px;
        transform: rotate(-34deg);
      }
    }
  }
}

.page-search-product {
}

.page-search-nothing {
  margin-top: 40px;
  text-align: center;

  h3 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-sup-title);
    line-height: var(--lh-sup-title);
    letter-spacing: var(--ls-regular);
    text-transform: uppercase;
    color: var(--black);
  }

  p {
    font-weight: var(--fw-regular);
    font-size: var(--fs-secondary);
    line-height: var(--lh-secondary);
    letter-spacing: var(--ls-big);
    color: var(--black);
  }
}

.run-text-nothing {
  margin-top: 205px;
  border-bottom: 1px solid var(--black);
  border-top: 1px solid var(--black);
  padding: 20px 0;
  @media (max-width: $md) {
    padding: 6px 0;
  }

  h3 {
    font-weight: var(--fw-regular);
    font-size: var(--fs-medium-title);
    line-height: var(--lh-medium);
    text-transform: uppercase;
    color: var(--run-nothing);
    @media (max-width: $md) {
      font-size: var(--fs-sup-title);
      line-height: var(--lh-sup-title);
    }
  }

  @media (max-width: $md) {
    margin-top: var(--margin-regular);
  }
}
.open-search{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  position: relative;
  max-width: 730px;
  input{

    width: 100%;
   padding: 4px 0 4px 43px;
    border: none;
    border-bottom: 1px solid var(--black);
    font-weight: var(--fw-little);
    font-size: var(--fs-secondary);
    line-height: var(--lh-secondary);
    color: var(--black);
    background: transparent;
    &:focus-visible{
      outline: none;
    }
    &::placeholder{
      color: var(--placeholder);
    }
  }
}