@import "../abstract/variables";

* {
  box-sizing: border-box;
  transition: all .2s linear;

  &:after, &:before {
    box-sizing: border-box;
  }
}

body {
  font-family: var(--font-family);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: var(--font-family);
}

ul {
  list-style: none;
}

h3{
  font-family: var(--font-family);
}

a, button, label {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family);
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  &_relative{
    position: relative;
  }

  @media (max-width: $xl) {
    padding: 0 15px;
    max-width: 1140px;
  }
  @media (max-width: $md) {
    padding: 0 10px;
    max-width: 1130px;
  }
  &_order{
    max-width: 1104px;
    margin: 0;
    padding: 0;
  }
}

.wrapper {
  //max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

main {
  overflow: hidden;
  padding-top: 80px;

  @media (max-width: $md) {
    padding-top: 60px;
  }
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.thin {
  font-weight: var(--fw-overlittle);
}

.medium {
  font-weight: var(--fw-medium);
}

.regular {
  font-weight: var(--fw-regular);
}

.semi-bold {
  font-weight: var(--fw-semibold);
}

.bold {
  font-weight: var(--fw-bold);
}

.bolder {
  font-weight: var(--fw-black);
}

.yellow {
  color: var(--yellow);
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.gray {
  color: var(--grey);
}

.ok, .warning {
  display: none;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}