@import "../abstract/mixins";
*{
  box-sizing: border-box;
&:after:before{
  box-sizing: border-box;
}
}
body,button{
  font-family: var(--font-family);
}
a,button{
  cursor: pointer;
  text-decoration: none;
}
.container{
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: $xl) {
    padding: 0 10px;
  }
}
.wrapper{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}