.header {
  padding: 15px 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  top: 0;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.2);
  animation: slide-bottom 1s linear forwards;

  @media (max-width: $md) {
    padding: 11px 0;
  }

  .search {
    @media (max-width: 960px) {
      display: none;
    }

  }

  &__burger-menu {
    position: relative;
    z-index: 3;
    display: none;
    @media (max-width: 960px) {
      display: block;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    z-index: 1;
    img {
      width: 65px;
      height: 50px;
      @media (max-width: $md) {
        width: 50px;
        height: 38px;
      }
    }
  }

  &__icon {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    @media (max-width: $lg) {

    }

    &_bay {
      position: absolute;
      top: 19px;
      right: -13px;
      @media (max-width: $lg) {
        width: 60px;
        top: 2px;
        right: 14px;
      }

      span {
        font-weight: var(--fw-regular);
        font-size: var(--fs-primary);
        line-height: var(--lh-little);
        color: var(--black);
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    position: relative;
    z-index: 1;
  }


}

.nav {
  @media (max-width: 960px) {
    display: none;
  }

  &_main {
    margin-top: 30px;
  }

  ul {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    gap: 67px;

    li {
      a {
        position: relative;
        display: block;
        font-weight: var(--fw-regular);
        font-size: var(--fs-secondary);
        line-height: var(--lh-secondary);
        letter-spacing: var(--ls-bigem);
        text-transform: uppercase;
        color: var(--black);

        &:hover {
          color: var(--yellow);
        }
      }

      a:before {
        content: '';
        position: absolute;
        display: block;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
      }
    }
  }
}